<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sofka.Automation.DataAccess.Properties.Settings.Sofka_Automation_TestConnectionString"
            connectionString="Data Source=.;Initial Catalog=Sofka.Automation.Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>